<!DOCTYPE html>
<html>
  <head>
    <title>Google Meet Call</title>
  </head>
  <body>
    <h1>Create a Google Meet Call</h1>
    <p>Click the button below to create a new Google Meet call.</p>
    <a href="<%= authUrl %>">Create Call</a>
  </body>
</html>
